// Typo styles
h1 {
  color: #080808;
  font-size: $h1-mobile-font-size;
  font-weight: 700;
  line-height: 1.216;
  @include media-breakpoint-up(md) {
    font-size: $h1-tablet-font-size;
  }
  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
}

h2 {
  color: #080808;
  font-size: $h2-mobile-font-size;
  font-weight: 600;
  line-height: 1.428;
  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }
}


h3 {
  color: #8A8A8A;
  font-size: $h3-mobile-font-size;
  font-weight: 600;
  line-height: 1.58;
  @include media-breakpoint-up(md) {
    font-size: $h3-font-size;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p {
  color: #080808;
  font-size: $font-size-base;
  line-height: $line-height-base;
  @include media-breakpoint-up(md) {
    font-size: $font-size-lg;
  }
}
